/*ICON-ͼ��*/
[class^="icon-"],[class*=" icon-"],.dropdown-navbar>li>[class*="icon-"],.dropdown-navbar>li>a>[class*="icon-"],.dropdown-navbar .msg-time>[class*="icon-"]{width:15px;height:15px;}
.btn-scroll-up>[class*="icon-"]{width:12px;margin-top:5px;}

[class^="icon-"],[class*=" icon-"]{display:inline-block;*margin-right:.3em;vertical-align:text-top;background-image:url("images/icon/gray.png");background-repeat:no-repeat;}

/*IE8*/
.white [class^="icon-"],.hxqh-nav>li>a>[class^="icon-"],.tree .tree-selected>[class^="icon-"],.nav-list>li>a>[class^="icon-"],.nav-list>li>a>[class^="icon-"],.sidebar-shortcuts-large>.btn>[class^="icon-"],.user-menu>li>a:hover>[class^="icon-"],.dropdown-navbar [class^="btn"][class^="icon-"],.btn-scroll-up>[class^="icon-"],.ace-spinner .spinner-buttons>.btn>[class^="icon-"],.ace-spinner .spinner-buttons>.btn>[class*="icon-"],.nav-tabs>li.open .dropdown-toggle>[class^="icon-"],.nav-tabs>li.open .dropdown-toggle>[class*="icon-"],.tabs-hxqh>.widget-header>.nav-tabs>li>.close>[class^="icon-"],.tabs-hxqh>[class^="widget-header "]>.nav-tabs li>a [class^="icon-"],.btn>[class^="icon-"],.tabs-hxqh>.widget-header>.nav-tabs li.open>.dropdown-toggle [class^="icon-"],.fc-button-next>.icon-chevron-right,.fc-button-prev>.icon-chevron-left,.ace-file-input .remove [class^="icon-"],.external-event>[class^="icon-"]:first-child,[class^="icon-filelist-"],.hxqh-history-container>.btn>[class^="icon-"],[class^="icon-operate-arrow-"] {background-image:url("images/icon/white.png");}

/*other*/
.white [class*="icon-"],.hxqh-nav>li>a>[class*="icon-"],.tree .tree-selected>[class*="icon-"],.nav-list>li>a>[class*=" icon-"],.nav-list>li>a>[class*=" icon-"],.sidebar-shortcuts-large>.btn>[class*="icon-"],.user-menu>li>a:hover>[class*="icon-"],.dropdown-navbar [class*="btn"][class*="icon-"],.btn-scroll-up>[class*="icon-"],.tabs-hxqh>.widget-header>.nav-tabs>li>.close>[class*="icon-"],.tabs-hxqh>[class*="widget-header "]>.nav-tabs li>a [class*="icon-"],.btn> [class*="icon-"],.tabs-hxqh>.widget-header>.nav-tabs li.open>.dropdown-toggle [class*="icon-"],.ace-file-input .remove [class*="icon-"],.external-event>[class*="icon-"]:first-child,[class*="icon-filelist-"],.hxqh-history-container>.btn>[class*="icon-"],[class*="icon-operate-arrow-"]{background-image:url("images/icon/white.png");}


.nav-list>li.open>a>[class^="icon-"],.nav-list>li.open>a>[class*=" icon-"],.nav-list>li>a:hover>[class^="icon-"],.nav-list>li>a:hover>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.nav-list>li .submenu>li.active>a>[class^="icon-"],.nav-list>li .submenu>li.active>a>[class*="icon-"],.nav-list>li>.submenu>li:hover>a>[class^="icon-"],.nav-list>li>.submenu>li:hover>a>[class*="icon-"],.nav-list a .badge [class^="icon-"],.nav-list a .badge [class*="icon-"],.sidebar-collapse>[class^="icon-"],.sidebar-collapse>[class*="icon-"],.tabs-hxqh>[class^="widget-header "]>.nav-tabs li.open>.dropdown-toggle [class^="icon-"],.tabs-hxqh>[class*="widget-header "]>.nav-tabs li.open>.dropdown-toggle [class*="icon-"],.tabs-hxqh>[class^="widget-header "]>.nav-tabs li.active>.dropdown-toggle [class^="icon-"],.tabs-hxqh>[class*="widget-header "]>.nav-tabs li.active>.dropdown-toggle [class*="icon-"],.tabs-hxqh>[class*="widget-header "]>.nav-tabs li.active>a [class*="icon-"],.tabs-hxqh>[class^="widget-header "]>.nav-tabs li.active>a [class^="icon-"],.colourful [class^="icon-"],.colourful [class*="icon-"] {background-image:url("images/icon/colourful.png");}

.icon-colorful,.dropdown-navbar.navbar-pink>li.dropdown-header>[class*="icon-"],.dropdown-navbar>li.dropdown-header >[class*="icon-"],.nav-search .nav-search-icon,.bootstrap-timepicker-widget table td a>[class*="icon-"],input[type=checkbox].ace:checked+.lbl::before,input[type=radio].ace:checked+.lbl::before,.colourful>[class*="icon-"],.dataTable th[class*=sort]:after,.dataTable th.sorting_desc:after,.dataTable th.sorting_asc:after,.ace-file-multiple .remove [class*="icon-"],.label-yellow>[class*="icon-"]:first-child,.birtviewer_navbar .icon-angle-left,.birtviewer_navbar .icon-angle-right,.birtviewer_navbar .icon-double-angle-left,.birtviewer_navbar .icon-double-angle-right,.icon-favorites{background-image:url("images/icon/colourful.png");}
.fixed_table [class*="icon-"]{background-image:url("images/icon/colourful.png");}
.dataTable th[class*=sort]:after,.dataTable th.sorting_desc:after,.dataTable th.sorting_asc:after { padding-right:7px; min-height:20px;}
.w20-icon [class*="icon-"]{width:22px; height:20px;}

/*tabs右上角操作icon*/
[class^="icon-operate-"],[class*="icon-operate-"],[class^="icon-workflow-"],[class*="icon-workflow-"],.fixed_table .apptool_bar [class*="icon-"],.fixed_table [class*="icon-workflow-"],.fixed_table [class^="icon-operate-"],.fixed_table [class*="icon-operate-"]{width:auto;background-image:url("images/icon/column-perate-white.png");background-repeat:no-repeat; height:24px;}

.icon-data-cog{background-position:-90px -29px;}
.icon-data {background-position:-900px -90px;}
.icon-portal{background-position:0px 0;}
.icon-report{background-position:-30px 0;}
.icon-design{background-position:-60px 0;}
.icon-authority{background-position:-150px 0;}
.sidebar-shortcuts-large>.btn>.icon-authority{background-position:-150px -60px;}
.icon-authority2{background-position:-150px -60px;}
.icon-authority-group{background-position:-150px -30px;}
.icon-configuration{background-position:-90px 0;}
.icon-app{background-position:-120px 0;}

.icon-supplier{background-position:-150px -90px;}
.icon-sales{background-position:-0px -194px;}
.icon-patrol{background-position:-90px -90px;}

.icon-pencil2{background-position:-60px 0;}
.sidebar-shortcuts-large>.btn>.icon-design{background-position:-60px -30px;}


.icon-comment {background-position:-210px -0px;}
.icon-prompt-yellow{background-position:-690px -0px;}
.icon-prompt{background-position:-690px -30px;}
.icon-notice{background-position:-270px 0;}

.icon-tasks {background-position:-810px -0px;}
.icon-envelope-alt {background-position:-240px -30px;}
.icon-envelope {background-position:-240px -0px;}
.icon-bell-alt {background-position:-270px -0px;}
.icon-caret-up {background-position:-57px -118px;}
.icon-caret-down {background-position:-57px -148px;}
.tabs-hxqh>.widget-header>.nav-tabs li.dropdown>.dropdown-toggle .icon-caret-down {background-position: -53px -146px;}
.icon-caret-left {background-position:-87px -118px;}
.icon-caret-right {background-position:-87px -148px;}


.icon-ok {background-position:-450px 0px;}
.tree .icon-ok[class*="icon-"] {background-position:-451px 0px;}
.alert-success .icon-ok[class*="icon-"]{background-position:-450px -60px;}

.icon-warning-sign {background-position:-690px -60px;}


.icon-other {background-position:-960px 0px;}

.icon-shopping-cart {background-position:-570px -120px;}
.icon-shopping-cart2 {background-position:-570px -150px;}
.icon-eyes {background-position:-690px -120px;}
.icon-eyes-close {background-position:-720px -120px;}

.icon-angle-up {background-position:-180px -120px;}
.icon-angle-down {background-position:-180px -150px;}
.nav-list li.open a .icon-angle-down{background-position:-180px -120px;}
.icon-angle-left {background-position:-210px -150px;}
.icon-angle-right {background-position:-210px -120px;}

/*20141118-heliping*/
.birtviewer_navbar [class*="icon-angle-left"] {background-position:-203px -145px;}
.birtviewer_navbar [class*="icon-angle-right"] {background-position:-201px -115px;}

.icon-home {background-position:-840px -120px;}
.icon-time {background-position:-330px -150px;}
.icon-cog {background-position:-90px -60px;}
.icon-user {background-position:-330px 0px;}
.icon-user-add {background-position:-330px -30px;}
.icon-user-group {background-position:-330px -60px;}
.icon-off {background-position:-780px -120px;}
.icon-arrow-right {background-position:-120px -120px;}
.icon-arrow-left {background-position:-120px -150px;}
.icon-arrow-up {background-position:-120px -180px;}
.icon-arrow-down {background-position:-120px -210px;}


.icon-double-angle-left {background-position:-267px -148px;}
.sidebar-collapse>.icon-double-angle-left {background-position:-267px -146px;}
.icon-double-angle-right {background-position:-266px -118px;}
.sidebar-collapse>.icon-double-angle-right {background-position:-266px -116px;}
.icon-double-angle-up {background-position:-240px -120px;}
.icon-double-angle-down {background-position:-240px -150px;}

.birtviewer_navbar [class*="icon-double-angle-left"] {background-position:-265px -144px;}
.birtviewer_navbar [class*="icon-double-angle-right"] {background-position:-264px -114px;}

.nav-list li .submenu li.active a .icon-double-angle-right:first-child {background-position:-266px -180px;}
.nav-list li .submenu li:hover a .icon-double-angle-right:first-child {background-position:-266px -210px;}

.dropdown-navbar [class*="btn"][class*="icon-comment"] {background-position:-207px 2px;}
.dropdown-navbar [class*="btn"][class*="icon-user"] {background-position:-327px 2px;}
.dropdown-navbar [class*="btn"][class*="icon-shopping-cart"] {background-position:-569px -117px;}
.dropdown-navbar [class*="btn"][class*="icon-eyes"] {background-position:-687px -117px;}


.nav-search .nav-search-icon {background-position:-177px 6px;}
.icon-search {background-position:-180px 0px;}


.icon-calendar {background-position:-720px 0px;}
.icon-chevron-up {background-position:-150px -118px;}
.ace-spinner .spinner-buttons>.btn>.icon-chevron-up {background-position:-180px -118px;}
.icon-chevron-down {background-position:-150px -148px;}
.ace-spinner .spinner-buttons>.btn>.icon-chevron-down {background-position:-180px -148px;}
/*20141102*/
.icon-chevron-right {background-position:-150px -180px;}
.icon-chevron-left {background-position:-150px -210px;}
.fc-button-next>.icon-chevron-right,.fc-button-prev>.icon-chevron-left{margin-top:5px;}

.icon-minus {background-position:-778px -30px;}
.tree .icon-minus[class*="icon-"] {background-position:-781px -31px;}
.icon-plus {background-position:-778px 0px;}
.tree .icon-plus[class*="icon-"] {background-position:-781px -1px;}



input[type=checkbox].ace:checked+.lbl::before {background-position:-451px 0px;}
input[type=radio].ace:checked+.lbl::before {background-position:-450px -30px;}

/*20141102*/
.icon-remove {background-position:-390px 0px;}
.ace-file-input .remove [class*="icon-remove"] {background-position:-386px 2px;;}
.icon-remove3 {background-position:-420px -30px;}
.icon-remove2 {background-position:-540px -30px;}
.tree .icon-remove[class*="icon-"] {background-position:-388px 0px;}

.icon-hand-right {background-position:-870px -120px;}

.icon-zoom-in {background-position:-600px 0px;}
.icon-zoom-out {background-position:-600px -30px;}
.icon-pencil {background-position:-570px 0px;}
.icon-trash {background-position:-420px 0px;}
.icon-edit {background-position:-570px -30px;}
.icon-edit2 {background-position:-570px -60px;}

.dataTable th[class*=sort]:after,.icon-sort {background-position:0px -120px;}
.dataTable th.sorting_desc:after,.icon-sort-desc {background-position:0px -150px;}
.dataTable th.sorting_asc:after,.icon-sort-asc {background-position:0px -180px;}

.icon-dashboard {background-position:-900px -120px;}
.icon-history {background-position:-330px -180px;}




.icon-add {background-position:-540px 0px;}
.icon-del {background-position:-390px -30px;}
.icon-data-up {background-position:-900px -60px;}


.icon-annex {background-position:-420px -120px;}
.icon-ledger {background-position:-810px -30px;}
.icon-create {background-position:-960px -30px;}

.icon-desktop {background-position:0px -30px;}



.icon-tools {background-position:-120px -30px;}
.icon-group {background-position:-180px -90px;}
.icon-foundation-data {background-position:-180px -30px;}
.icon-framework {background-position:-120px -90px;}
.icon-plan {background-position:-30px -30px;}
.icon-purchase {background-position:-30px -90px;}
.icon-stock {background-position:0px -90px;}
.icon-assets {background-position:-60px -90px;}

.icon-save {background-position:-930px 0px;}
.icon-upload {background-position:-900px 0px;}
.icon-download {background-position:-900px -30px;}
.icon-upload-alt {background-position:-870px 0px;}
.icon-download-alt {background-position:-870px -30px;}



/*20141102*/
.icon-move {background-position:-960px -60px;}
.external-event>[class*="icon-"]:first-child{display:inline-block;height:32px;width:32px;text-align:center;line-height:30px;margin-right:5px;font-size:15px;margin-top:-4px;background-position: -952px -52px;border-right:1px solid #FFF}

/*Column-Perate-icon
[class*="icon-operate-"],[class*="icon-workflow-"],.fixed_table .apptool_bar [class*="icon-"]{width:auto;background-image:url("images/icon/column-perate-white.png");background-repeat:no-repeat; height:24px;opacity:1;filter: alpha(opacity=100);}
[class*="icon-operate-"]:hover,[class*="icon-workflow-"]:hover{ color:#FFF;opacity:.5;filter: alpha(opacity=50);}
*/
[class*="icon-operate-"]{ padding-left:27px; padding-top:4px; padding-right:10px; border:0; cursor:pointer;}
[class*="icon-workflow-"]{ padding-left:32px; padding-top:4px; padding-right:10px; cursor:pointer;}

[class*="icon-operate-"]:hover,[class*="icon-workflow-"]:hover,.fixed_table [class*="icon-workflow-"]{ color:#FFF;}
.fixed_table [class*="icon-"],[class*="icon-operate-"],[class*="icon-workflow-"],.fixed_table .apptool_bar [class*="icon-"],.fixed_table [class*="icon-workflow-"] {opacity:1;filter: alpha(opacity=100);}
.fixed_table [class*="icon-"]:hover,[class*="icon-operate-"]:hover,[class*="icon-workflow-"]:hover,.fixed_table [class*="icon-workflow-"]{opacity:.5;filter: alpha(opacity=50);}




.icon-operate-add {background-position:8px 4px; background-color: #B679C5;}
.icon-operate-trash {background-position:8px -56px; background-color: #d15b47;}
.icon-operate-data-up {background-position:8px -26px; background-color: #3a87ad;}
.icon-operate-save {background-position:8px -206px; background-color: #76B35D;}
.icon-operate-arrow-right {background-position:-108px -118px; background-color: #40abd8;}
.icon-operate-arrow-left {background-position:-109px -148px; background-color: #448bd3;}


/*workflow-icon*/
.icon-workflow-implement {background-position:8px -86px; background-color: #20860f;}
.icon-workflow-person {background-position:8px -116px; background-color: #b56f28;}
.icon-workflow-history {background-position:8px -146px; background-color: #3d61ad;}
.icon-workflow-map {background-position:8px -176px; background-color: #f89406;}






/*20141104*/
.icon-map {background-position:-30px -120px;}
.icon-cloud-upload {background-position:-300px -120px;}
.icon-cloud-download {background-position:-300px -150px;}

.icon-heart {background-position:-480px 0px;}
.icon-folder-close {background-position:-450px -120px;}
.icon-folder-open {background-position:-450px -150px;}
.icon-folder-close-alt {background-position:-480px -120px;}
.icon-folder-open-alt {background-position:-480px -150px;}
.icon-favorites {background-position:-510px 0px;}
.icon-bookmark {background-position:-510px -30px;}
.icon-wrench {background-position:-360px -120px;}
.icon-screwdriver {background-position:-390px -120px;}
.icon-annex {background-position:-420px -120px;}
.icon-credit {background-position:-510px -120px;}
.icon-copy {background-position:-540px -120px;}
.icon-refresh {background-position:-630px 0px;}
.icon-refresh2 {background-position:-630px -30px;}
.icon-forward {background-position:-660px 0px;}
.icon-back {background-position:-660px -30px;}
.icon-clean {background-position:-600px -150px;}
.icon-print {background-position:-810px -120px;}
.icon-flag {background-position:-750px -120px;}
.icon-console {background-position:-960px -90px;}
.icon-bar-chart {background-position:-720px -30px;}
.icon-line-chart {background-position:-720px -60px;}
.icon-pie-chart {background-position:-750px 0px;}
.icon-area-chart {background-position:-750px -30px;}


.icon-music {background-position:-810px -90px;}
.icon-file {background-position:-810px -60px;}



[class^="icon-filelist-"],[class*="icon-filelist-"]{width:28px; height:28px;}
.icon-filelist-upload-alt {background-position:-866px 4px;}
.icon-filelist-music {background-position:-806px -86px;}
.icon-filelist-file {background-position:-806px -56px;}
.icon-filelist-picture {background-position:-836px -86px;}


[class*="icon-file-"]{width:68px;background-image:url("images/icon/file_icon.png");background-repeat:no-repeat; height:64px;}
.icon-file-cloud-upload {background-position:0px 0px;}
.icon-file-picture {background-position:0px -64px;}



/*20141106*/
.tooltip-inner [class*="icon-"] { margin-top:2px;}
.icon-mouse {background-position:-960px -120px;}

/*20150123*/
.icon-edit-menu {background-position:-540px -90px;}
.icon-edit-app {background-position:-600px -90px;}
.icon-edit-company {background-position:-570px -90px;}


/*20141119-heliping*/
.icon-operate-list {background-position:8px -233px; background-color:#B679C5;}
.icon-operate-parameters {background-position:8px -264px; background-color:#20860f}
.icon-operate-export {background-position:8px -296px; background-color:#b56f28}
.icon-operate-exportreport {background-position:8px -326px; background-color:#f89406}
.icon-operate-print {background-position:8px -356px; background-color:#d6487e;}
.icon-operate-printserver {background-position:8px -386px; background-color:#3d61ad}


/*20141122-heliping*/
.icon-operate-read {background-position:8px -416px; background-color: #37b39a;}
.icon-operate-report {background-position:8px -446px; background-color: #ee9b41;}
.icon-operate-report2 {background-position:8px -656px; background-color: #ee9b41;}
.icon-operate-allow {background-position:8px -476px; background-color: #2cba61;}
.icon-operate-cancel {background-position:8px -506px; background-color: #ea5773;}
.icon-operate-audit {background-position:8px -536px; background-color: #967d1b;}
.icon-operate-audit-out {background-position:8px -596px; background-color: #967d1b;}
.icon-operate-audit-in {background-position:8px -626px; background-color: #c45e4e;}
.icon-operate-copy {background-position:8px -566px; background-color: #5aa52d;}
.icon-operate-purchasing {background-position:8px -686px; background-color: #1c9fc0;}

/*20141124-heliping*/
.icon-complete {background-position:-930px -60px;}

.icon-wf-implement {background-position:-480px -60px;}
.icon-wf-person {background-position:-540px -60px;}
.icon-wf-history {background-position:-660px -60px;}
.icon-wf-map {background-position:-750px -60px;}
.icon-op-read {background-position:-240px -60px;}
.icon-op-report {background-position:-270px -60px;}
.icon-op-allow {background-position:-930px -60px;}
.icon-op-cancel {background-position:-300px -60px;}
.icon-op-audit {background-position:-270px -90px;}
.icon-op-list {background-position:-30px -60px;}
.icon-op-parameters {background-position:-270px -30px;}
.icon-op-export {background-position:-840px -60px;}
.icon-op-exportreport {background-position:-870px -60px;}
.icon-op-printserver {background-position:-840px -30px;}




/*中交ICON*/
.icon-structure {background-position:0px -60px;}
.icon-inspection {background-position:-60px -60px;}
.icon-disease {background-position:-120px -60px;}