.echart-info{
	width: 574px;
	margin: 0 auto;
}
.location-tree{
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color: rgb(255, 255, 255);
	background: #323232;
	margin-bottom: 8px;
	position: relative;
}
.locaition-info{
	padding: 10px;
	background: #323232;
}
.locaiton-table,.locaiton-table-info{
	width: 100%;
	font-size: 12px;
	background: #fff;
}
.locaiton-table-info thead tr,.locaiton-table thead tr{
	background: #D7F1FE;
	height: 40px;
	line-height: 40px;
}
.locaiton-table-info tbody tr,.locaiton-table tbody tr{
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #DADADA;
}
.locaiton-table-info tbody td:first-child,.locaiton-table-info tbody td:nth-child(3){
	width: 87px;
	text-align: center;
	background: #F5F5F5;
}
.locaiton-table-info tbody td:nth-child(2),.locaiton-table-info tbody td:nth-child(4){
	width: 178px;
}
.space{
	letter-spacing:8px;
}
.arraw{
	background: url(../img/asset/arrow.gif);
	width: 5px;
	height:10px;
	position: absolute;
	left: -5px;
	top: 25px;
	display: block;
}