.login-layout{
	width:100%;
	height: 100%;
}
.login-box{
	width: 544px;
	height: 331px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -272px;
}
.login-form{
	width: 344px;
	height: 331px;
	border: 2px solid #E1E1E1;
	margin:0 auto;
}
.login-form .login-header{
	width: 100%;
	height: 68px;
	border-bottom: 1px solid #E1E1E1;
	background:url("../img/login1.png") no-repeat 20px 20px;
}
.login-form .login-item{
	width: 173px;
	height: 47px;
	margin: auto;
}
.login-form .user-item{
	margin-top: 18px;
}
.login-form .pwd-item{
	margin-top: 12px;
}
.login-form .check-item{
	padding-top: 14px;
	height:33px;
	width: 173px;
	margin: auto;
}
.login-item label{
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    color: #242424;
}
.login-form .txt-input{
	width: 100%;
	height: 28px;
}
.input-grey{
   border: 1px solid #D8D8D8;
}
.input-blue{
   border: 1px solid #0096E0;
}
.btn{
	width: 79px;
	height: 27px;
	line-height: 27px;
	margin-top: 10px;
	font-size: 12px;
	cursor: pointer;
}
.left{
	float: left;
}
.right{
	float: right;
}
.btn-blue{
	background: #0096E0;
	border: 1px solid #0088CC;
	color: #fff;
}
.btn-grey{
	background: #EAEAEA;
	border: 1px solid #DADADA;
	color: #464646;
}

#tip{
	color: red;
	font-size: 12px;
	text-align: center;
}