.detail-info p.item {
	width: 33.3%;
	float: left;
	line-height: 34px;
	font-size: 12px;
	color: #252525;
	position: relative;
}
.detail-info p.item i.search {
	display: block;
	width: 30px;
	height: 20px;
	cursor: pointer;
	background-image: url(../img/detail/search.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 60%;
	top: 9px;
}
.row .row-info-customer {
	display: none; }
.row .row-info-customer .layout {
	padding-left: 10px;
	padding-right: 10px; }

.row .row-info-equipment {
	display: none; }
.row .row-info-equipment .layout {
	padding-left: 10px;
	padding-right: 10px; }

.row .row-info-equipment p.item {
	width: 50%;
	float: left;
	line-height: 34px;
	font-size: 12px;
	color: #252525;
	position: relative;
}
.row .row-info-customer p.item {
	width: 50%;
	float: left;
	line-height: 34px;
	font-size: 12px;
	color: #252525;
	position: relative;
}
.projectNumber {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=60);
	display:none;
}
.projectopen-option p {
	padding-left: 23px;
	border-bottom: #0096e0 2px solid;
	height: 54px;
	line-height: 54px;
	font-size: 14px;
	color: #020202;
	display:none;
}
.projectopen-option {
	width: 524px;
	height: 444px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -262px;
	margin-top: -222px;
	z-index: 23;
	background: #fefefe;
	display:none;
}
.detail-info p.item input[type='radio'] {
	width: 15px;
	height: 21px;
	border: 1px solid #dfdfdf;
	margin-top: 7px;
}
.components .details table thead tr {
	font-weight: bold;
}
.components .details tr {
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #dadada;
	font-size: 12px;
	color: #252525;
	display: table;
	width: 100%;
	table-layout: fixed;
}
/*.row .row-info p.item label {*/
	 /*display: block;*/
	 /*float: left;*/
	 /*width: 40%;*/
	 /*text-align: right;*/
 /*}*/

.detail-info p.right {
	width:50%;
}
.borrow-detail p.right label {

	width: 31%;

}
.borrow-detail .row p.big{
	width:50%;
}
.row p.big label {
	width: 81%;
}

.row p.big-b  {
	width:57%;
}
.row p.big-b label {
	width: 90%;
}
.row p.big-sm  {
	width: 42%;
}
.row p.big-sm label {
	width: 91%;
}
.tab-btn{
	height: 25px;
	margin-top: 10px;
	width: 160px;
}
.safeplan{
	width: 235px;
}
.servicecontanct{
	width:216px;
}
.scenserviceNotify {
	width: 202px;
}
.nowcheck{
	width: 294px;
}
.problemModify{
	width: 244px;
}
.areaAndService{
	width:272px;
}
.workReport{
	width:174px;
}
.checked{background-color:#e7f7fe}
.checked1{background-color:#e7f7fe}
.checked2{background-color:#e7f7fe}
#workReport table tbody{
	display:block;
	max-height:220px;
	overflow-y:auto;
}
.listenty{
	font-size: 12px;
	height: 28px;
	border: 1px solid #dadada;
	color: #000;
	text-align: center;
	display: block;
	float: right;
	background-image: url(../img/detail/save.png);
	background-repeat: no-repeat;
	background-position: 6px center;
	padding-left: 25px;
	cursor: pointer;
}
/*span标签内容太长*/
.describe-long{
	margin-left: 8px;
	width:100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}