.audit-box{
    width: 500px;
    height: 243px;
    padding-right: 10px;
    padding-left: 10px;
    background: #fff;
    padding-bottom: 10px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -250px;
    margin-top: -121px;
    display: none;
    z-index: 1002;
}
.audit-box h5{
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    border-bottom: 2px solid #0096df;
}
.audit-box .item1{
    margin-top: 10px;
}
.audit-box .item1 label{
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 12px;
    display: block;
    float: left;
}
#auditDes{
    width: 300px;
    height: 100px;
}
.audit-box .item2{
    height: 40px;
    line-height: 40px;
}
.auditDes-box button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-top: 10px;
}
.audit-save {
    background: #0096e0;
    color: #eaeaea;
    margin-right: 10px;
}
.audit-cancle {
    background: #EAEAEA;
    color: #000;
}